<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
  {%- if page.redirect %}
    <meta http-equiv="refresh" content="{% if page.redirect == true %}3; url={{ '/' | relative_url }}{% else %}0; url={{ page.redirect | relative_url }}{% endif %}">
  {%- endif %}
  {% include modernist/head.html %}
  </head>
  <body>
    {% include modernist/header.html %}

    <main>
    {%- if page.full_bleed %}
      {{ content }}
    {%- else %}
      <div class="wrap">
        {{ content }}
      </div>
    {%- endif %}
    </main>

    {% include modernist/footer.html %}
  </body>
</html>
